* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Monserrat"
}
  
@font-face {
  font-family: "Monserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf");
}
  
.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.home {
  background-color: rgb(252, 229, 213);
  width: 375px;
  height: 600px;
  position: relative;
  border-radius: 2em;
  text-transform: uppercase;
    /* Sombra*/
  box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.logo-RS {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 60%;
  margin-left: -10px;
}

.logo-date {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: -13%;
}

.forml {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: -25px;
  margin-bottom: 100px;
}

label {
  font-size: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: -8px;
}

input {
  border-color: black;
  background-color: rgb(229, 226, 226);
  height: 3px;
  width: 10px;
  border-radius: 50px;
  text-align: center;
  padding: 1em;
  text-transform: uppercase;
  font-size: 11px;
  display: flex;
}

.fecha {
  width: 60%;
  margin-left: 40px;
  font-size: 10px;
  border: 1px solid;
  display: flex;
  flex-direction: row;
}

.datos {
  display: flex;
  flex-direction: row;
}

.dato-nombre {
  /* left: ; */
  width: 180px;
  background-color: rgb(255, 169, 154);
  border-radius: 50px 0 0 50px;
}

.dato-celular {
  width: 150px;
  background-color: rgb(255, 169, 154);
  border-radius: 0 50px 50px 0;
}

.tmp {
  margin-top: -20px;
}

.dropdown {
  margin: auto;
}
/* 
.pedido-btn {
  width: 50%;
  height: 3em;
  border: none;
  font-size: 15px;
  background-color: #FFC369;
  box-shadow: 4px 4px 4px #FFB054;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
} */

.togglemodal {
  display: flex;
  cursor: pointer;
  border-radius: 50px;
  padding: 10px 20px ;
  font-size: 15px;
  background-color: #FFC369;
  box-shadow: 4px 4px 4px #FFB054;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 70%;
  margin-bottom: -75px;
}


.pedido-popup {
  position: absolute;
  height: 20em;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  background-color: #F5F5F5;
  background-image: url("../icono/Check.png");
  background-repeat: no-repeat;
  background-size: 130px 130px;
  background-position: 50% 20%;
  color: #000;
  bottom: 0;
  transform: scale(1);
  transition: 1.5s;
}

p {
  font-size: smaller;
  font-weight: 200;
}
