* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Monserrat"
}

@font-face {
  font-family: "Monserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf");
}

h1 {
  text-shadow: 3px 3px 6px rgb(156, 150, 150);
}

.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  background-color: rgb(252, 229, 213);
  width: 375px;
  height: 600px;
  position: relative;
  border-radius: 2em;
  text-transform: uppercase;
  /* Sombra*/
  box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 60px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

input {
  border: none;
  background-color: rgb(229, 226, 226);
  height: 4em;
  width: 100%;
  border-radius: 50px;
  text-align: center;
  padding: 2em;
  text-transform: uppercase;
}

input:focus {  outline-color: rgb(70, 70, 70); }

.login-btn {
  width: 80%;
  height: 4em;
  border: none;
  background-color: rgba(255, 135, 98, 0.753);
  box-shadow: 4px 4px 4px rgba(251, 36, 36, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
}

.registro-btn {
  border: none;
  background: none;
  
}

.text {
  position: relative;
  bottom: -2em;
}

p {
  font-size: smaller;
}

