* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Monserrat"
}

@font-face {
  font-family: "Monserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf");
}

.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registro {
  background-color: rgba(255, 240, 201, 1);
  width: 375px;
  height: 600px;
  position: relative;
  border-radius: 2em;
  text-transform: uppercase;
  /* Sombra*/
  box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 23px;
  padding-bottom: -10px;
}

.logo-login {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: -40%;
  margin-right: 30px;
}

.logo-RSol {
  display: flex;
  flex-direction: row;
  width: 55%;
  margin-top: 10px;
  margin-left: 5px;
}

h1 {
  text-shadow: 4px 4px 8px rgb(131, 128, 128);
  font-size: 27px;
}

.formu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: -250px;
  margin-bottom: -50px;
}

input {
  border: none;
  background-color: rgba(246, 246, 246, 1);
  height: 47px;
  width: 230px;
  display: flex;
  border-radius: 50px;
  text-align: center;
  padding: 2em;
  text-transform: uppercase;
  color: rgb(20, 20, 20);

  margin: 5px;
}

.datos-reg {
  display: flex;
  flex-direction: column;
  /* margin: 10%; */
 margin: 10px;
}

.nombre {
  margin: 8px;
}

.celular {
  margin: 8px;
}

.contraseña {
  margin: 8px;
}

.repcontraseña {
  margin: 8px;
}

.login-boton {
  height: 45px;
  width: 170px;
  background-color: rgba(255, 177, 134, 1);
  box-shadow: 4px 4px 4px rgba(251, 36, 36, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  margin: -6%;
}

p {
  font-size: smaller;
  margin: -10%;
  margin-top: -90px;
}
